@import "variables";

.catalogDesktop{
  &__item{
    width: 300px;
    padding: 10px;
    border: 1px solid $blue;
    .catalogItemName{
      color: $blue;
    }
    &_active{
      background-color: $blue;
      .catalogItemName{
        color: white;
      }
    }
  }
  @media (min-width: 1280px) and  (max-width: 1439px){
    &__item{
      width: 270px;
    }
  }
  @media(min-width: 1024px) and (max-width: 1279px){
    &__item{
      width: 220px;
    }
  }
  @media (max-width: 1023px){
    display: none;
  }
}