@import "variables";

.contacts{
  max-width: 1290px;
  margin: 0 auto;
  &__title{
    margin-top: 50px;
  }
  .addresses{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    .address{
      max-width: 630px;
      &__title{

      }
      &__item{
        margin-top: 30px;
      }
      .phone{
        margin-top: 15px;
        text-decoration: none;
        color: black;
        &__item{

        }
      }
      .mail{
        margin-top: 15px;
        text-decoration: none;
        color: black;
        &__item{

        }
      }
      .workTime{
        margin-top: 15px;
        &__title{

        }
        &__item{
          margin-top: 5px;
        }
      }
    }
    .line{
      width: 1px;
      background-color: $blue;
      height: 300px;
    }
  }
  .delivery{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    .deliveryContainer{
      max-width: 630px;
      &__title{
        text-transform: uppercase;
      }
      &__content{
        margin-top: 30px;
      }
    }
    &__image{
      width: 630px;
      object-fit: cover;
    }
  }
  @media (min-width: 1280px) and  (max-width: 1439px){
    max-width: 1170px;
    .addresses {
      .address {
        max-width: 570px;
      }
      .line{
        width: 1px;
        background-color: $blue;
        height: 260px;
      }
    }
    .delivery{
      .deliveryContainer{
        max-width: 570px;
      }
      &__image{
        max-width: 570px;
      }
    }
  }
  @media(min-width: 1024px) and (max-width: 1279px){
    max-width: 940px;
    &__title{
      margin-top: 30px;
    }
    .addresses {
      margin-top: 30px;
      .address {
        max-width: 460px;
        &__item{
          margin-top: 20px;
        }
        .phone{
          margin-top: 10px;
        }
        .mail{
          margin-top: 10px;
        }
        .workTime{
          margin-top: 10px;
        }
      }
      .line{
        width: 1px;
        background-color: $blue;
        height: 260px;
      }
    }
    .delivery{
      margin-top: 100px;
      .deliveryContainer{
        max-width: 460px;
      }
      &__image{
        max-width: 460px;
      }
    }
  }
  @media (min-width: 768px)and (max-width: 1023px){
    max-width: 640px;
    &__title{
      margin-top: 30px;
    }
    .addresses {
      margin-top: 30px;
      .address {
        max-width: 310px;
        &__item{
          margin-top: 20px;
        }
        .phone{
          margin-top: 10px;
        }
        .mail{
          margin-top: 10px;
        }
        .workTime{
          margin-top: 10px;
        }
      }
      .line{
        width: 1px;
        background-color: $blue;
        height: 260px;
      }
      }
    .delivery{
      .deliveryContainer{
        max-width: 365px;
      }
      &__image{
        max-width: 255px;
      }
    }
  }
  @media (min-width: 560px) and (max-width: 767px) {
    max-width: 525px;
    &__title{
      margin-top: 20px;
    }
    .addresses {
      margin-top: 20px;
      .address {
        max-width: 255px;
        &__item{
          margin-top: 10px;
        }
        .phone{
          margin-top: 10px;
        }
        .mail{
          margin-top: 10px;
        }
        .workTime{
          margin-top: 10px;
        }
      }
      .line{
        width: 1px;
        background-color: $blue;
        height: 200px;
      }
    }
    .delivery{
      margin-top: 50px;
      .deliveryContainer{
        max-width: 300px;
        &__content{
          margin-top: 10px;
          &:first-child{
            margin-top: 20px;
          }
        }
      }
      &__image{
        max-width: 210px;
      }
    }
  }
  @media (min-width: 375px) and (max-width: 559px) {
    max-width: 335px;
    &__title{
      margin-top: 20px;
    }
    .addresses {
      margin-top: 20px;
      flex-direction: column;
      .address {
        max-width: 100%;
        &__item{
          margin-top: 10px;
        }
        .phone{
          margin-top: 10px;
        }
        .mail{
          margin-top: 10px;
        }
        .workTime{
          margin-top: 10px;
        }
      }
      .line{
        margin: 10px 0;
        width: 100%;
        background-color: $blue;
        height: 1px;
      }
    }
    .delivery{
      margin-top: 50px;
      .deliveryContainer{
        max-width: 300px;
        &__content{
          margin-top: 10px;
          &:first-child{
            margin-top: 20px;
          }
        }
      }
      &__image{
        display: none;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 374px) {
    max-width: 280px;
    &__title{
      margin-top: 20px;
    }
    .addresses {
      margin-top: 20px;
      flex-direction: column;
      .address {
        max-width: 100%;
        &__item{
          margin-top: 10px;
        }
        .phone{
          margin-top: 10px;
        }
        .mail{
          margin-top: 10px;
        }
        .workTime{
          margin-top: 10px;
        }
      }
      .line{
        margin: 10px 0;
        width: 100%;
        background-color: $blue;
        height: 1px;
      }
    }
    .delivery{
      margin-top: 50px;
      .deliveryContainer{
        max-width: 300px;
        &__content{
          margin-top: 10px;
          &:first-child{
            margin-top: 20px;
          }
        }
      }
      &__image{
        display: none;
      }
    }
  }

}