.Main{
  .aboutUs{
    display: flex;
    margin: 100px auto;
    max-width: 1290px;
    .infoBlock{

      &__title{

      }
      &__description{
        margin: 15px 0;
      }
    }
    .stoiki{
      display: flex;
      position: relative;
      margin-right: -100px;
      &__first{
        position: relative;
        margin-right: -150px;
        z-index: -1;
      }
      &__second{
        margin-top: -75px;
        position: relative;
        z-index: -2;
      }
    }
    @media (min-width: 1280px) and  (max-width: 1439px){
      max-width: 1170px;
    }
    @media(min-width: 1024px) and (max-width: 1279px){
      max-width: 940px;
      .stoiki{
        margin-right: -50px;
        &__first{
          max-width: 309px;
        }
        &__second{
          max-width: 410px;
        }
      }
    }
    @media (min-width: 768px)and (max-width: 1023px){
      max-width: 640px;
      margin: 50px auto;
      .stoiki{
        margin-right: -70px;
        &__first{
          max-width: 206px;
          margin-right: -100px;
        }
        &__second{
          max-width: 274px;
        }
      }
    }
    @media (min-width: 560px) and (max-width: 767px) {
      margin: 50px auto;
      max-width: 525px;
      .stoiki{
        margin-right: -40px;
        &__first{
          max-width: 168px;
          margin-right: -100px;
        }
        &__second{
          max-width: 224px;
        }
      }
    }
    @media (min-width: 375px) and (max-width: 559px) {
      margin: 50px auto;
      max-width: 335px;
      .stoiki{
        display: none;
      }
    }
    @media (min-width: 320px) and (max-width: 374px) {
      margin: 50px auto;
      max-width: 280px;
      .stoiki{
        display: none;
      }
    }
  }
  .clients{

  }
}