.modal{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .modalContainer{
    margin: 0 auto;
    max-width: 590px;
    background-color: white;
    position: relative;
    &__close{
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .content{
      margin: 100px 20px;
    }
  }
  @media (min-width: 320px) and (max-width: 560px) {
    .modalContainer{
      .content{
        margin: 40px 20px;
      }
    }
  }
}