.optPrice{
  &__head{
    text-align: center;
    .title{
      text-transform: uppercase;
    }
    .subtitle{
      margin-top: 15px;
    }
  }
  .form{
    margin-top: 50px;
    .btnSubmit{
      width: 100%;
      margin-top: 15px;
    }
  }
  .description{
    margin-top: 15px;
    &__item{
      margin-top: 10px;
    }
  }
}