@import "variables";

.SearchPage{
  &__container{
    max-width: 1290px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    .content{
      &__title{
        text-transform: uppercase;
      }

      .standsContainer{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
      }
    }



    @media (min-width: 1280px) and  (max-width: 1439px){
      max-width: 1170px;
    }
    @media(min-width: 1024px) and (max-width: 1279px){
      max-width: 940px;
      .content{
        .standsContainer{
          gap: 20px;
        }
      }
    }
    @media (min-width: 768px)and (max-width: 1023px){
      max-width: 640px;
      .content{
        .standsContainer{
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
        }
      }
    }
    @media (min-width: 560px) and (max-width: 767px) {
      max-width: 525px;
      .content{
        .standsContainer{
          grid-template-columns: repeat(3, 1fr);
          gap: 15px;
        }
      }
    }
    @media (min-width: 375px) and (max-width: 559px) {
      max-width: 335px;
      .content{
        .standsContainer{
          display: block;
        }
        .sorting{
          &__title{
            margin-right: 20px;
          }
          .customSelect {
            width: 150px;

            .selected {
              padding: 7px 10px;
            }

            .container {
              width: 150px;

              .selectItem {
                padding: 7px 10px;
              }
            }
          }
        }
      }
    }
    @media (min-width: 320px) and (max-width: 374px) {
      max-width: 280px;
      .content{
        .standsContainer{
          display: block;
        }
        .sorting{
          &__title{
            margin-right: 20px;
          }
          .customSelect {
            width: 150px;

            .selected {
              padding: 7px 10px;
            }

            .container {
              width: 150px;

              .selectItem {
                padding: 7px 10px;
              }
            }
          }
        }
      }
    }
  }
}