@import "variables";
.StandCard {
    max-width: 300px;
    padding: 20px 12px;
    box-shadow: 4px 4px 8px 2px rgba(213, 217, 220, 0.7);
    .image {
        max-width: 210px;
        object-fit: contain;
    }
    .sizes {
        margin-top: 10px;
    }
    .title {
        margin-top: 15px;
    }
    .panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        &__price {
            color: $blue;
        }
        &__btn {
            padding: 10px 25px;
            border: 1px solid $blue;
            background-color: white;
            color: $blue;
        }
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
        max-width: 270px;
        padding: 20px 5px;
        .image {
            max-width: 210px;
        }
        .sizes {
            margin-top: 10px;
        }
        .title {
            margin-top: 15px;
        }
        .panel {
            margin-top: 15px;
        }
    }
    @media(min-width: 1024px) and (max-width: 1279px) {
        max-width: 220px;
        padding: 20px 5px;
        .image {
            max-width: 210px;
        }
        .sizes {
            margin-top: 10px;
        }
        .title {
            margin-top: 15px;
        }
        .panel {
            margin-top: 15px;
            &__btn {
                padding: 10px 10px;
            }
        }
    }
    @media (min-width: 768px)and (max-width: 1023px) {
        max-width: 200px;
        padding: 20px 5px;
        .image {
            max-width: 196px;
        }
        .sizes {
            margin-top: 10px;
        }
        .title {
            margin-top: 15px;
        }
        .panel {
            margin-top: 15px;
            &__btn {
                padding: 10px 5px;
            }
        }
    }
    @media (min-width: 560px) and (max-width: 767px) {
        max-width: 165px;
        padding: 20px 5px;
        .image {
            max-width: 155px;
        }
        .sizes {
            margin-top: 10px;
        }
        .title {
            margin-top: 15px;
        }
        .panel {
            margin-top: 15px;
            &__btn {
                padding: 10px 2px;
            }
        }
    }
    @media (min-width: 375px) and (max-width: 559px) {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px 5px;
        .image {
            max-width: 100%;
        }
        .sizes {
            margin-top: 10px;
        }
        .title {
            margin-top: 15px;
        }
        .panel {
            margin-top: 15px;
            &__btn {
                padding: 10px 20px;
            }
        }
    }
    @media (min-width: 320px) and (max-width: 374px) {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px 5px;
        .image {
            max-width: 100%;
        }
        .sizes {
            margin-top: 10px;
        }
        .title {
            margin-top: 15px;
        }
        .panel {
            margin-top: 15px;
            &__btn {
                padding: 10px 20px;
            }
        }
    }
}